html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 720px) {

    .container{
        display: flex;
        justify-content: center;
    }
      
  }

  @media screen and (max-width:1080px) {
      
  }